@import "~bootstrap/scss/bootstrap.scss";

$big-caption-fontsize: 30px;
$big-caption-lineheight: 40px;

body {
  background-color: #E5E5E5;
  box-sizing: border-box;
}

.logo {
  margin: 20px;
}

.main-container {
  max-width: 800px;
  padding-top: 20px;
}

.form-container {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.message-container {
  padding-bottom: 50px;
}

.message-container__header {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 20px 0;
}

.sending-progress {
  margin: 53px;
  text-align: center;
}

.sending-progress__header {
  font-size: $big-caption-fontsize;
  line-height: $big-caption-lineheight;
}

.sendform__header {
  font-size: $big-caption-fontsize;
  line-height: $big-caption-lineheight;
  margin: 30px 0 20px 30px;
}

.message-list__header {
  opacity: 0.4;
}

.message-list__crap {
}

.message-list__item--inprogress {
  opacity: 0.4;
}

.message-list__item--error {
  color: #FF6666;
}

.message-list__item--success {
  color: #03A100;
}

.sendform__label {
  color: rgba(0,0,0, 0.6);
  margin-bottom: 5px;
}

.sendform__compact-col {
  margin: 2px 0 10px 0;

  &:first-child {
    padding-right: 0;
  }
  &:last-child {
    padding-left: 0;
  }
}

.sendform_form {
  margin: 0 16px 10px 16px;
}

.sendform__submit {
  margin: 20px 0;
}

.sendform__compact-formgroup {
  margin: 0;
}
 
.sendfrom__left-input {
  border-radius: 0.25rem 0 0 0.25rem;
}

.sendfrom__right-input {
  border-radius: 0 0.25rem 0.25rem 0;
}

.sendform__attachfile {
  color: #0055FB;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid #0055FB;
  }
  &:hover {
    color: #0055FB;
    border: none;
    background-color: transparent;
    text-decoration: none;
  }
}

.sendform__rootcontainer {
  position: relative;
}

.uploadbox {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  background-color: rgba(255,255,255,0.9);
  z-index: 100;
  outline: 2px dashed #CCCC;
  outline-offset: -10px;
  text-align: center;
  cursor: pointer;
}

.uploadbox__text {
  position: absolute;
  top: 50%;
  height: 20%;
  width: 95%;
  margin: -5% 0 0 0;
}

.uploadbox__fileinput {
  width: 100%;
  height: 100%;
  display: none;
}

.file-item {
  flex: calc(50% - 10px);
  max-width: calc(50% - 10px);
  height: 50px;
  border-radius: 5px;
  margin: 5px 5px 0 5px;
  border: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
}

.file-item__icon {
  font-size: 30px;
  margin: 5px;
}

.file-item__filename {
  flex-grow: 1;
}

.file-item__delicon {
  color: transparent;
  text-shadow: 0 0 0 red;
}

.file-item__delbtn {
  color: red;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

